# Exploración

Imprime las dos primeras filas

In [29]:
import pandas as pd

data = pd.read_csv('Menti Data.csv')
df = pd.DataFrame(data)

print(df.head(2))

                      Nombre alumno  Edad             Tutor    Celular  \
0  Arcángel Donato Acuña Magallanes    11          Franklin  972253579
1      Franco Clide Pérez Rodríguez    11  Estela Rodríguez  959059301

     Ciudad  País      Curso  Precio      Fecha
0  Arequipa  Perú  Minecraft     209  14-2-2022
1  Arequipa  Perú  Minecraft     209  14-2-2022

Últimas 5 filas

In [30]:
print(df.tail())

                         Nombre alumno  Edad                      Tutor  \
1043        Ariana Lisbeth Marín Soria    10       Gaby Soria Castañeda
1044              Anderson Bruno Muñoz     7       Jeny Soria Castañeda
1045            Juan Luis Romero Pérez     7                      David
1046  Camila Michelle Gutierrez Gamboa    11   Leydidiana Gamboa Ferrer
1047            Ariana Funegra Taboada     8  Francisco Funegra Quevedo

             Celular    Ciudad  País      Curso  Precio      Fecha
1043       994810140  Trujillo  Perú      Rubik     199   5-1-2022
1044       956340982  Trujillo  Perú      Rubik     199   5-1-2022
1045       948127012  Trujillo  Perú      Rubik     199   5-1-2022
1046       982278716  Trujillo  Perú  Minecraft     209  14-2-2022
1047  51 916 713 224  Trujillo  Perú     Roblox     209  14-2-2022

Información sobre los datos

In [31]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048 entries, 0 to 1047
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nombre alumno  1048 non-null   object
 1   Edad           1048 non-null   int64
 2   Tutor          1040 non-null   object
 3   Celular        1047 non-null   object
 4   Ciudad         1048 non-null   object
 5   País           1047 non-null   object
 6   Curso          1048 non-null   object
 7   Precio         1048 non-null   int64
 8   Fecha          1048 non-null   object
dtypes: int64(2), object(7)
memory usage: 73.8+ KB
None

# Cleaning data


*   Eliminar espacios de la columna Celular
*   Eliminar el "591" a los números de Bolivia
*   Cambiar formato de fecha de "-" a "/"
*   "Mexico" por "México"
*   "Peru" por "Perú"
*   Eliminar filas vacías

In [32]:
import re

def eliminar_codigo(numero):
    if isinstance(numero, str):
        numero = re.sub(r'\D', '', numero)# Elimina no dígitos
        numero = re.sub(r'^591', '', numero)# Elimina "591"
    return numero

df['Celular'] = df['Celular'].apply(eliminar_codigo)
#df.to_csv('Menti Data Sin Codigo.csv', index=False)

In [33]:
def convertir_fecha_formato(fecha):
    if '-' in fecha:
        dia, mes, anio = fecha.split('-')
    elif '/' in fecha:
        dia, mes, anio = fecha.split('/')
    else:
        return fecha

    if len(dia) == 1:
        dia = f"0{dia}"
    if len(mes) == 1:
        mes = f"0{mes}"

    fecha_convertida = f"{dia}/{mes}/{anio}"

    return fecha_convertida

df['Fecha'] = df['Fecha'].apply(convertir_fecha_formato)

In [37]:
def reemplazar_paises():
    df['País'] = df['País'].replace({'Mexico': 'México', 'Peru': 'Perú'})

reemplazar_paises()

#df.to_csv('Clean Data.csv', index=False)

In [38]:
def eliminar_filas_vacias(df, archivo_csv):
    df = df.dropna()
    df = df.reset_index(drop=True)
    df.to_csv(archivo_csv, index=False)

    print("DataFrame modificado guardado como:", archivo_csv)

eliminar_filas_vacias(df, 'cleanData.csv')

DataFrame modificado guardado como: cleanData.csv