# Exploración

Imprime las dos primeras filas

In [ ]:
import pandas as pd

data = pd.read_csv('Menti Data.csv')
df = pd.DataFrame(data)

print(df.head(2))

Últimas 5 filas

In [ ]:
print(df.tail())

Información sobre los datos

In [17]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048 entries, 0 to 1047
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nombre alumno  1048 non-null   object
 1   Edad           1048 non-null   int64
 2   Tutor          1040 non-null   object
 3   Celular        1047 non-null   object
 4   Ciudad         1048 non-null   object
 5   País           1047 non-null   object
 6   Curso          1048 non-null   object
 7   Precio         1048 non-null   int64
 8   Fecha          1048 non-null   object
dtypes: int64(2), object(7)
memory usage: 73.8+ KB
None

# Cleaning data



*   Eliminar espacios de la columna Celular
*   Eliminar el "591" a los números de Bolivia
*   Cambiar formato de fecha de "-" a "/"

In [14]:
import re

def eliminar_codigo(numero):
    if isinstance(numero, str):
        numero = re.sub(r'\D', '', numero)# Elimina no dígitos
        numero = re.sub(r'^591', '', numero)# Elimina "591"
    return numero

df['Celular'] = data['Celular'].apply(eliminar_codigo)
#df.to_csv('Menti Data Sin Codigo.csv', index=False)

In [21]:
def convertir_fecha_formato(fecha):
    if '-' in fecha:
        dia, mes, anio = fecha.split('-')
    elif '/' in fecha:
        dia, mes, anio = fecha.split('/')
    else:
        return fecha

    if len(dia) == 1:
        dia = f"0{dia}"
    if len(mes) == 1:
        mes = f"0{mes}"
    fecha_convertida = f"{dia}/{mes}/{anio}"

    return fecha_convertida

df['Fecha'] = data['Fecha'].apply(convertir_fecha_formato)

df.to_csv('Clean Data.csv', index=False)